<div class="header row">
    <a class="cleanLocale">
        <h3>CleanLocale</h3>
    </a>
    <div class="nav_ele">
        <a routerLink="/" routerLinkActive="active" class="cleanLocale_link">
            <h6>Home</h6>
        </a>
        <a routerLink="/execution_summary" routerLinkActive="active" class="cleanLocale_link">
            <h6>Services</h6>
        </a>
        <a routerLink="/summary" routerLinkActive="active" class="cleanLocale_link">
            <h6>About</h6>
        </a>
    </div>
</div>