@import "~ng-pick-datetime/assets/style/picker.min.css";
@import 'sweetalert2/src/sweetalert2.scss';

button.btn {
    outline: 0;
    border: 0;
    box-shadow: none !important;
}

select, input, textarea {
    width: 100%;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 4px 4px -2px rgb(173 173 173 / 75);
    border: 1px solid #4e4e4e;
}

textarea {
    resize: none;
}

label {
    font-weight: 500;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}